@model SiliconShores.Models.daily_ride_report

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>daily_ride_report</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.total_riders)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_riders)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.attraction.attraction_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.attraction.attraction_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ride_report_date }) |
    @Html.ActionLink("Back to List", "Index")
</p>
