@model IEnumerable<SiliconShores.Models.daily_ride_report>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.total_riders)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.attraction.attraction_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.total_riders)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.attraction.attraction_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ride_report_date }) |
            @Html.ActionLink("Details", "Details", new { id=item.ride_report_date }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ride_report_date })
        </td>
    </tr>
}

</table>
