@model SiliconShores.Models.theme_areas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}

<h2>Details</h2>

<div>
    <h4>theme_areas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.theme_area_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.theme_area_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.theme_area_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.theme_area_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.theme_area_pictures)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.theme_area_pictures)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.theme_park.theme_park_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.theme_park.theme_park_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.theme_area_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<script>
    $(document).ready(setActiveLink("#id_park"));
</script>