@model IEnumerable<SiliconShores.Models.theme_areas>

@{
    ViewBag.Title = "Theme Areas";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}

<h2>Theme Areas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.theme_area_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.theme_area_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.theme_area_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.theme_area_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.theme_area_id })
        </td>
    </tr>
}

</table>
<script>
    $(document).ready(setActiveLink("#id_park"));
</script>