@model SiliconShores.Models.hotel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>hotel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hotel_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hotel_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pets_allowed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pets_allowed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.theme_areas.theme_area_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.theme_areas.theme_area_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.hotel_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
