@model IEnumerable<SiliconShores.Models.hotel>

@{
    ViewBag.Title = "Hotels";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}

<h2>Hotels</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.hotel_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pets_allowed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.theme_areas.theme_area_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.hotel_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pets_allowed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.theme_areas.theme_area_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.hotel_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.hotel_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.hotel_id })
        </td>
    </tr>
}

</table>
<script>
    $(document).ready(function () {
        setActiveLink("#id_hotel");
    });
</script>