@model SiliconShores.Models.hotel_rooms

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}

<h2>Details</h2>

<div>
    <h4>hotel_rooms</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.room_rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room_rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.occupied)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.occupied)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hotel.hotel_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hotel.hotel_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.room_types.room_types_string)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room_types.room_types_string)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<script>
    $(document).ready(function () {
        setActiveLink("#id_hotel");
    });
</script>
