@model IEnumerable<SiliconShores.Models.hotel_rooms>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.room_rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.occupied)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hotel.hotel_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.room_types.room_types_string)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.room_rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.occupied)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hotel.hotel_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.room_types.room_types_string)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
<script>
    $(document).ready(function () {
        setActiveLink("#id_hotel");
        enableOmniSearch();
    });
</script>
