@model SiliconShores.Models.attraction

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>attraction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.attraction_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.attraction_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.attraction_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.attraction_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.picture_path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.picture_path)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_working)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_working)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_opened)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_opened)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.theme_areas.theme_area_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.theme_areas.theme_area_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
<script>
    $(document).ready(function () {
        setActiveLink("#id_rides");
    });
</script>