@model SiliconShores.Models.theme_park

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}

<h2>Details</h2>

<div>
    <h4>theme_park</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.theme_park_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.theme_park_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.park_open)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.park_open)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.park_close)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.park_close)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.park_country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.park_country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.park_state_or_province)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.park_state_or_province)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.park_city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.park_city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.park_street_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.park_street_address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.theme_park_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<script>
    $(document).ready(setActiveLink("#id_park"));
</script>