@model IEnumerable<SiliconShores.Models.report_ticketsales>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Index</h2>

<p>
    @Html.ActionLink("Ticket Redemption by Weather", "DisplayTicketSalesWeather")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ticket_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ticket_price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ticket_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sale_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.redemption_date)
        </tr>
    }
  

</table>
