@{
    ViewBag.Title = "TicketInformation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Buy Tickets</h2>

@using (Html.BeginForm("ConfirmPurchase", "Tickets", FormMethod.Get))
{
    <div class="form-horizontal">
    @{ var count = 0;}
    @foreach (var t in ViewBag.TicketTypes)
    {
        var inputID = "id_" + t.ticket_name;
        <div class="form-group">
            <label for=@inputID class="col-md-2 control-label">
                @t.ticket_name<br />
            </label>
            <input type="hidden" name="@("ticketPurchase[" + count + "]").Key" value="@t.ticket_type_id" />
            <div class="col-md-4">
                <input name="@("ticketPurchase[" + count + "]").Value" type="number" id=@inputID value="0" class="form-control" min="0" />
            </div>
            <label for=@inputID class="col-md-6 col-md-pull-1">
                <span title="@t.ticket_restrictions" class="glyphicon glyphicon-info-sign"></span>
                @t.ticket_price.ToString("C")
            </label>
        </div>
        count++;
    }
        <center><input type="submit" value="Next" class="btn btn-sm btn-success" /></center>
    </div>
}