@model IEnumerable<SiliconShores.Models.food_categories>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.food_categories_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.food_categories_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.food_category_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.food_category_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.food_category_id })
        </td>
    </tr>
}

</table>
