@model SiliconShores.Models.ticket_types

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ticket_types</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ticket_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ticket_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ticket_restrictions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ticket_restrictions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ticket_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ticket_price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ticket_type_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
