@model IEnumerable<SiliconShores.Models.breakdown>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.incidence_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.resolution_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.repair_cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.attraction.attraction_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.incidence_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.resolution_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.repair_cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.attraction.attraction_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.breakdown_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.breakdown_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.breakdown_id })
        </td>
    </tr>
}

</table>
