@{
    ViewBag.Title = "ConfirmPurchase";
}

<h2>Confirm Order</h2>

@{ decimal roomTotal = ViewBag.Nights * ViewBag.Room.room_rate;}
@{ decimal total = roomTotal; }
<div class="row">
    <div class="col-md-2">
        <p>Hotel:</p>
        <p>Check-in Date: </p>
        <p>Check-out Date:</p>
        <p>Room Type: </p>
        <p>Rate: </p>
    </div>
    <div class="col-md-2">
        <p>@ViewBag.Hotel.hotel_name</p>
        <p>@ViewBag.Checkin.ToLongDateString()</p>
        <p>@ViewBag.Checkout.ToLongDateString()</p>
        <p>@ViewBag.Room.room_types.room_types_string</p>
        <p>@ViewBag.Room.room_rate.ToString("C")</p>
    </div>
    <div class="col-md-6">

        <table class="table table-striped table-bordered">
            <tr>
                <th>Ticket Type</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            @{var count = 0;}
            @foreach (var t in ViewBag.TicketPurchase)
            {
                if (t.Value > 0)
                {
                    var ticketTypeTotalCost = t.Value * t.Key.ticket_price;
                    <tr>
                        <td>@t.Key.ticket_name</td>
                        <td>@t.Value</td>
                        <td>@(ticketTypeTotalCost.ToString("C"))</td>
                    </tr>
                    total = total + ticketTypeTotalCost;
                }
            }
            <tr>
                <th>Hotel Room</th>
                <td>@ViewBag.Nights Nights</td>
                <td>@roomTotal.ToString("C")</td>
            </tr>
            <tr>
                <td>Total</td>
                <td></td>
                <td>@total.ToString("C")</td>
            </tr>

        </table>
    </div>
</div>
<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-inline">
            <div class="form-group">
                <label for="id_email_field" class="col-md-3 control-label">E-mail</label>
                <div class="col-md-7">
                    <input name="email" class="form-control" type="email" id="id_email_field" />
                </div>
                <div class="col-md-2">
                    <input type="submit" value="Checkout" class="btn btn-success" />
                </div>
            </div>

        </div>

    }
</div>
