
@{
    ViewBag.Title = "ConfirmPurchase";
}

<h2>Confirm Order</h2>

<table class="table table-striped table-bordered">
    <tr>
        <th>Hotel</th>
        @foreach (var h in ViewBag.Hotels)
        {
            if (@Request["Hotels"].AsInt() == h.hotel_id) 
            {
                <th>@h.hotel_name</th>
            }
        }
        <th></th>
    </tr>

    <tr>
        <th>Check-in Date</th>
        <th>Check-out Date</th>
        <th></th>
    </tr>

    <tr>
        <th>@Request["arrivalDate"]</th>
        <th>@Request["arrivalDate"].AsDateTime().AddDays(@Request["nights"].AsInt())</th>
        <th></th>
    </tr>

    <tr>
        <th>Room Type</th>
        <th>Rate</th>
        <th>Price</th>
    </tr>

    <tr>
        @foreach (var r in ViewBag.RoomTypes)
        {
            if (@Request["RoomTypes"].AsInt() == r.room_type_id) 
            {
                <th>@r.room_types_string</th>
            }
        }
        <th>room rate goes here</th>
        <th>price goes here</th>
    </tr>

    <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>

    @{float total = 0;}
    @{var count = 0;}
    @foreach (var t in ViewBag.TicketTypes)
    {
        <tr>
            <th>@t.ticket_name</th>
            <th>@Request["ticketPurchase[" + count + "].value"]</th>
            <th>$@(t.ticket_price * @Request["ticketPurchase[" + count + "].value"].AsFloat()).00</th>
        </tr>
        total = total + (t.ticket_price * @Request["ticketPurchase[" + count + "].value"].AsFloat());
        count++;
    }

     <tr>
        <th>Total</th>
        <th></th>
        <th>$@(total).00</th>
    </tr>

</table>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            <label for="id_email_field" class="col-md-2 control-label">E-mail</label>
            <div class="col-md-10">
                <input name="email" class="form-control" type="email" id="id_email_field" />
            </div>
        </div>
        <input type="submit" value="Checkout" class="btn btn-success" />
    </div>
}
