@model SiliconShores.Models.VacationPlanViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Plan Your Perfect Day</h2>
<hr />
@using (Html.BeginForm("Planning", "PlanVacation", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.ArrivalDate, new { @class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ArrivalDate, new { @class = "form-control" })
            @Html.Label("Example: MM/DD/YYYY")
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Nights, new { @class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Nights, new { @class = "form-control" })
            @Html.Label("Example: 1, 2, 3...")
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m=>m.TicketType, new { @class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m=>m.TicketType,null, htmlAttributes: new {@class = "form-control"})
            @Html.Label("Example: ")
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m=>m.NumberOfTickets, new{@class="col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.NumberOfTickets, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.RoomType, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.RoomType, new { @class = "form-control" })
            @Html.Label("Example: King-size.")
        </div>
    </div>
    
    <div class="from-group">
        <div class="col-md-10">
            <input type="submit" value="Check Now" class="btn btn-default"/>
        </div>
    </div>
}

