@using SiliconShores.Models
@model SiliconShores.Models.VacationPlanViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Plan Your Perfect Day</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.ArrivalDate, new { @class = "col-md-2 control-label"})
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.ArrivalDate, new { @class = "form-control" })
                @Html.Label("Format: MM/DD/YYYY")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Nights, new {@class = "col-md-2 control-label"})
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Nights, new {@class = "form-control"})
            </div>
        </div>

        @{ var count = 0;}
        @foreach (var t in ViewBag.TicketTypes)
         {
            var inputID = "id_" + t.ticket_name;
             <div class="form-group">
                 <label for=@inputID class="col-md-2 control-label">@t.ticket_name</label>
                 <input type="hidden" name="@("ticketPurchase[" + count + "]").Key" value="@t.ticket_type_id"/>
                 <div class="col-md-10">
                     <input name="@("ticketPurchase[" + count + "]").Value" type="number" id=@inputID value="0" class="form-control" min="0"/>
                 </div>
             </div>
             count++;
         }

        <div class="form-group">
            <label class="col-md-2 control-label">Hotel</label>
            <div class="col-md-10">
                @Html.DropDownList("Hotels", null, htmlAttributes: new {@class = "form-control", @onChange = "updateRooms();", @id = "id_hotel"})
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Room Type</label>
            <div class="col-md-10">
                @Html.DropDownList("RoomTypes", null, htmlAttributes: new { @class = "form-control", @onChange = "updateRooms();", @id = "id_room_type"})
            </div>
        </div>

        <input type="submit" value="Go" class="btn btn-success"/>
    </div>   
}

<script type="text/javascript">
    function updateRooms($, window) {
        var rooms = document.getElementById("id_room");
        var hotel = document.getElementById("id_hotel");
        var roomType = document.getElementById("id_room_type");

        var selectedHotel = hotel.options[hotel.selectedIndex].value;
        var selectedRoomType = roomType.options[roomType.selectedIndex].value;

        var list = @ViewBag.Rooms;
        for (var k = 0; k < list.length; k++) {
            if (list[k].hotel_id != selectedHotel || list[k].room_type_id != selectedRoomType) {
                list.remove(k);
            }
        }
        
    }
</script>