@model IEnumerable<SiliconShores.Models.ReservationCheckInModels>

@{
    ViewBag.Title = "Planning";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var header = "Plan Your Perfect Day";
}

<h2>@header</h2>

@using(Html.BeginForm("Planning","PlanVacation",FormMethod.Post, new{@class="form-horizontal", role="form"}))
{
    @Html.AntiForgeryToken()
    <h4>Arrival Date:</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger"})
    <div class="form-group">
        @Html.TextBoxFor(arrivalDate, new { @class = "form-control" })
        <div class="col-md-10">
            @Html.Label("EX: MM/DD/YYYY")
        </div>
    </div>
    
}